<h1 class='dashboardheader'>Welcome, <%= current_user %> ! </h1>
<h1 class='dashboardheader'> Select the lift for more details</h1>
<div class="liftlist">
<h1 class='lift'><a href="/bpress"> Bench Press</a> </h1>
<h1 class='lift'><a href="/squat"> Squat</a> </h1>
<h1 class='lift'><a href="/deadlift"> Deadlift</a> </h1>
</div>

<div class='logout'>
<form action='/logout' method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Logout"/>
</form>
</div>