<main class="indexloading">
  <div class="loadinglogin">
    <h1>
      <a href = './login'> Click here to login</a>
    </h1>
  </div>
  <div class="signup">
    <h1>
      <a href = './sign-up'> Click here to sign up</a>
    </h1>
  </div>
</main>
