<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Powerlifting Tracker</title>
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>  
  <link rel=stylesheet href = "/style.css">
</head>
<body>
  <h1 class='appheader'> Lift Tracker </h1>
    <%= yield %>
</body>
</html>