<div class=loginpage>
<h1> Login </h1>
  <br>
  <br>

  <h2>
  <%= error_message %>
  </h2>

  <div class='loginpage'>
    <div class='email'>
    <form action="/login" method="POST">
      <label for="email">
          Email:
      </label>
      <input class="loginbox" type="text" name="email" />
    </div>
    <br>
    <div class='password'>
    <label for="password">
      Password:
    </label>
    <input class="loginbox"type="password" name="password" />
    </div>
    <br>
    <div id='loginsubmit'>
      <input type="submit" value="Login" />
    </div>
  </form>
  </div>
</div>